html {
    background: #888;
}

.ls-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .5rem;
    background: #aaa;
    margin-bottom: .5rem;
    padding: .25rem;
}

.ls-header .ls-header-title {
    grid-row: 1;
    grid-column: 1 / 8;
    font-weight: bold;
}

.ls-header .ls-header-status {
    grid-row: 1;
    grid-column: 8 / 13;
    text-align: right;
    font-family: mono, monospace, Monospaced, Arial;
}

.ls-header .ls-header-status.ls-connected {
    color: #060;
}


.ls-cells {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .5rem;
}

.ls-cells .ls-cell {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    padding: .5rem;
    overflow: hidden;
}

.ls-cells .ls-cell-code {
    background: #aaa;
}

.ls-cells .ls-cell-log {
    padding: 0;
}

.ls-cells textarea {
    width: 98%;
    height: 98%;
    background: #aaa;
    border: none;
}