html {
    background: #888;
}


.ls-cells {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .5rem;
}

.ls-cells .ls-cell {
    border: 1px solid black;
    border-radius: 5px;
    padding: .5rem;
    /*margin: .25rem;
    min-width: 2rem;
    min-height: 2rem;
     */
}

.ls-cells .ls-cell-code {
    background: #aaa;
}