*.csv
*.zip
*.json
*.ndjson
*.sh
geckodriver
geckodriver.log
*cache/
src/har_research/adscripts/
src/har_research/hars/
src/har_research/*profile/
src/har_research/automatic/recordings/
__pycache__/
.ipynb_checkpoints/
.idea/
env/
