.kali-gl label {
    padding: .2rem;
    white-space: nowrap;
    display: inline-block;
}

.kali-gl label .param-name {
    display: inline-block;
    min-width: 8rem;
}

.kali-gl label .param-name-short {
    display: inline-block;
    min-width: 1rem;
}
.kali-gl label .right {
    text-align: right;
}

.kali-gl label.hidden {
    display: none;
}

.kali-gl input.int {
    width: 3rem;
}

.kali-gl input.float {
    width: 6rem;
}