html {
    background: #888;
}


.cells {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cells .cell {
    border: 1px solid black;
    border-radius: 5px;
    margin: .25rem;
    padding: .5rem;
    min-width: 2rem;
    min-height: 2rem;
}