<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval'">

    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">

    {% if page.custom_css %}
        {% for css_file in page.custom_css %}
            <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ css_file }}">
        {% endfor %}
    {% endif %}

    {% if page.custom_js %}
        {% for js_file in page.custom_js %}
            <script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ js_file }}"></script>
        {% endfor %}
    {% endif %}

<body>

{%- include header.html -%}

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        {{ content }}
    </div>
</main>

{%- include footer.html -%}

</body>

</html>